<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href={% static 'style.css'%}/> 
    <style>
        
    </style>
</head>

<body  style="background:url({% static 'bg.jpg' %})" >
    <center>
    <h1>MY TIME-FRAME APP</h1>
    <form action="create" method="POST">
        <!--csrf _token protect recieve information that is been transfered to a database-->
        {% csrf_token %}
        <input type="text" id="text" placeholder="enter your task"name="task"/><br><br>
        <input type="datetime-local" id="datetime-local" name= "datetime"/><br><br>
        <input type="text" id="text" placeholder="describe your activity" name="description"/><br><br>
        <input type="submit" id="submit"/><br><br>
    </form>
    <div>
        <h2>SCHEDULES</h2>
        <table>
            <tr>
                <th>id</th>
                <th>task</th>
                <th> datetime</th>
                <th>description</th>
                <th>completed</th>
                <th>delete</th>
                <th>update</th>
            </tr>
            {% for items in todo  %}
            <tr>
                <td>{{items.id}}</td>
                <td>{{items.task}}</td>
                <td>{{items.datetime}}</td>
                <td>{{items.description}}</td>
                <td><center><a href='completed/{{items.id}}'>done<input type="checkbox"/></a></center></td>
                <td><a href='delete/{{items.id}}'>delete</a></td>
                <td><a href='update/{{items.id}}'>update</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <table>
            <h2 font="bold">COMPLETED</h2>
            <tr>
                <th>task</th>
                <th>datetime</th>
            </tr>
            {% for items in completed %}
            <tr>
                <td>{{items.task}}</td>
                <td>{{items.datetime}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </center>
</body>
</html>