<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,th,td {
            border:1px solid black;
            padding:5px;
            margin:20px;
        }
    </style>
</head>
<body>
    <center>
    <h1>MY TODO APP</h1>
    <form action="create" method="POST">
        <!--csrf _token protect recieve information that is been transfered to a database-->
        {% csrf_token %}
        <input type="text" id="text" placeholder="enter your task"name="task"/><br><br>
        <input type="datetime-local" id="datetime-local" name= "datetime"/><br><br>
        <input type="text" id="text" placeholder="describe your activity" name="description"/><br><br>
        <input type="submit" id="submit"/><br><br>
    </form>
    <div>
        <table>
            <tr>
                <th>id</th>
                <th>datetime</th>
                <th>task</th>
                <th>description</th>
                <th>completed</th>
                <th>delete</th>
            </tr>
            {% for items in todo  %}
            <tr>
                <td>{{items.id}}</td>
                <td>{{items.datetime}}</td>
                <td>{{items.task}}</td>
                <td>{{items.description}}</td>
                <td><center><input type="checkbox" id="completed"/></center></td>
                <td><a href='delete/{{items.id}}'>delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </center>
</body>
</html>